.extrasWrapper{
    max-width: 1260px;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-evenly;
    flex-flow: row;
    padding: 0;
    div {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        flex-wrap: wrap;
        padding: 0 5px;
        border-left: 1px solid #e4e2e2;
        min-height: 36px;
    }
}