.newRecordWrapper {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    min-height: 90px;
    margin-top: 20px;
    form{
        max-width: 1260px;
        display: flex;
        align-items: space-between;
        justify-content: space-evenly;
        flex-flow: row;
        padding: 10px 0;
        div {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            width: auto;
            max-width: 114px;
            label {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
            }
            select {
                padding: 1px;
                margin: 2px;
                height: 30px;
                border: 1px solid black;
                border-radius: 0;
            }
            input {
                padding: 1px;
                margin: 2px;
                height: 30px;
                border: 1px solid black;
                border-radius: 0;
            }
            select {
                margin: 2px;
                height: 31px;
                max-width: 114px;
            }
            datalist {
                max-height: 40px;
                overflow: hidden;
            }
        }
    }
    .disabled {
        display: none;
    }
   
    button {
        font-size: 18px;
        margin: auto 0;
        width: auto;
        height: 25px;
        background-color: white;
        color: black;
        border: 2px solid;
        box-shadow: none;
        border-color: rgb(129, 226, 129);
        border-radius: 0;
    }
    button:hover{
        cursor: pointer;
        background-color: rgb(129, 226, 129);
        color: white;
        img {
            display: flex;
            align-content: center;
        }
    }
}

@media (max-width: 1260px) {
    .newRecordWrapper form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-flow: row;
        div {
            max-width: calc(100% / 11);
        }
    }
}

