.dataTable {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    tr {
        width: 100%;
        td {
            width: 100px;
        }
    }
}
.is-disabled {
    display: none;
}