.mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tableWrapper {
    width: 100%;
    padding: 0 5px;
}
.tableHeader div {
    cursor: pointer;
    font-weight: bold;
}
.is-disabled {
    display: none;
}
.contentBody {
    height: 75vh;
    overflow:auto;
    background-color: white;
}