.tablerow {
    margin: 5px 0;
    border-top: 1px rgba(163, 163, 163, 0.233) solid;
    div {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        flex-wrap: wrap;
        padding: 0 5px;
        border-left: 1px solid rgb(228, 226, 226);
        min-height: 36px;
    }
    .is-disabled {
        display: none;
    }
    .green{
        background-color: rgb(178, 235, 218);
    }
    .red{
        background-color: rgb(248, 169, 164);
    }
}
.tablerow:hover {
    background-color: rgba(0, 0, 0, 0.13);
    cursor: pointer;
}
.col-custom {
    width: calc((91.6% - 45px)/9);
}
.col-id {
    width: 45px;
}
.col-consilium {
    width: calc((91.6% - 45px)/8);
}
.planinis {
background-color: rgb(245, 239, 187);
}
.skubus {
background-color: rgb(248, 169, 164);
}
.hidden {
    display: none;
}
.hideElements{
    .editRow {
        display: none;
    }
    .additionalData{
        display: none;
    }
    .extrasWrapper {
        button {
            display: none;
        }
    }
}

