.additionalData{
    max-width: 1260px;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-evenly;
    flex-flow: row;
    padding: 3px 0 13px 0;
    div {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        //width: auto;
        width: calc((100% - 45px)/10);;
        select {
            padding: 1px;
            height: 30px;
            border-radius: 0;
            border-color: gray;
        }
        input {
            padding: 1px;
            height: 30px;
            border-radius: 0;
            border-color: gray;
        }
    }
    button {
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
    }
}
.hidden {
    display: none;
}